*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0.1,0.5)), url("../background_photo.jpg");
    height: auto;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: #d1ffb1;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.5s ease;
}
ul li a:hover{
    background-color: Yellow;
    color: #ff0018;
}
#photos{
    background-color: yellow;
    color: red;
}
.gallery{
    margin-left: 8%;
    margin-right: 8%;
}
.gallery image{
    transition: 10ms;
    padding: 15px;
    width: 100px;
}
.gallery image:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}